hr {
    border-top: 1px solid;
}

.sub-title {
    margin-top: 60px;
    text-align: center;
}

.about-containers {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.pic-container {
    margin: 15px 0px
}

.link-container {
    margin-bottom: 30px;
}

.text-color {
    color: white
}

.team-pics {
    border-radius: 25px;
    max-height: 200px;
    max-width: 200px;
}


